

@media screen and (max-width: 2560px){
    section {width: 2560px;}
    article {width: 2300px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 1920px){
    section {width: 1920px;}
    article {width: 1800px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 1440px){
    section {width: 1440px;}
    article {width: 1300px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 1382px){
    section {width: 1382px;}
    article {width: 1200px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 1280px){
    section {width: 1280px;}
    article {width: 1150px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 1200px){
    section {width: 1200px;}
    article {width: 1150px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 1140px){
    section {width: 1140px;}
    article {width: 1080px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 1125px){
    section {width: 1125px;}
    article {width: 1080px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 1110px){
    section {width: 1110px;}
    article {width: 1030px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 1080px){
    section {width: 1080px;}
    article {width: 1020px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 1024px){
    section {width: 1024px;}
    article {width: 980px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 992px){
    section {width: 992px;}
    article {width: 930px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 960px){
    section {width: 960px;}
    article {width: 840px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 900px){
    section {width: 900px;}
    article {width: 720px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 768px){
    section {width: 768px;}
    article {width: 720px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 750px){
    section {width: 750px;}
    article {width: 720px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 736px){
    section {width: 736px;}
    article {width: 690px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 720px){
    section {width: 720px;}
    article {width: 690px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 667px){
    section {width: 667px;}
    article {width: 630px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 600px){
    section {width: 600px;}
    article {width: 570px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 568px){
    section {width: 568px;}
    article {width: 530px;}
    .banner_livro {width: 530px;}
}

@media screen and (max-width: 540px){
    section {width: 540px;}
    article {width: 510px;}
    .banner_livro {width: 510px;}
}

@media screen and (max-width: 520px){
    section {width: 520px;}
    article {width: 490px;}
    .banner_livro {width: 490px;}
}

@media screen and (max-width: 480px){
    section {width: 480px;}
    article {width: 450px;}
    .banner_livro {width: 450px;}
}

@media screen and (max-width: 428px){
    section {width: 428px;}
    article {width: 390px;}
    .banner_livro {width: 390px;}
}

@media screen and (max-width: 425px){
    section {width: 425px;}
    article {width: 390px;}
    .banner_livro {width: 390px;}
}

@media screen and (max-width: 414px){
    section {width: 414px;}
    article {width: 380px;}
    .banner_livro {width: 380px;}
}

@media screen and (max-width: 390px){
    section {width: 390px;}
    article {width: 360px;}
    .banner_livro {width: 360px;}
}

@media screen and (max-width: 375px){
    section {width: 375px;}
    article {width: 330px;}
    .banner_livro {width: 330px;}
}
@media screen and (max-width: 360px){
    section {width: 360px;}
    article {width: 330px;}
    .banner_livro {width: 330px;}
}

@media screen and (max-width: 357px){
    section {width: 357px;}
    article {width: 320px;}
    .banner_livro {width: 320px;}
}

@media screen and (max-width: 320px){
    section {width: 320px;}
    article {width: 280px;}
    .banner_livro {width: 280px;}
}