section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

li {
    list-style-type: none;
    line-height: 40px;
}

h1 {
    text-align: center;
}

article {text-align: justify;}

.titulo1_link {
    text-decoration: none;
    color: #0d6efd;
}

img {
    border-radius: 5px;
}